html {
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
	text-align: center;
	font-size: 18px;
	line-height: 1.8;
	font-family: 'Libre Franklin', sans-serif;
}
